* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1 {
    color: purple;
    font-family: serif;
    margin-bottom: 10px;
}

.title {
    font-size: 18px;
    font-family: monospace;
}

.nav {
    margin-top: 10px;
    list-style: none;
    padding-left: 0;
}

.nav li {
    display: inline-block;
}

.nav a {
    color: white;
    background-color: #13a4a4;
    padding: 3px;
    border-radius: 5px;
    text-decoration: none;
}

.nav .blog {  /* Si me fijo en la especificidad de este elemento vere que es (0, 2, 0)
    Esto lo hace ser mas "pesado" (mas importante) y por lo tanto me aplica el estilo deseado */
    background-color: red;
}