* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
}

.small_square {
    height: 10rem;
    width: 20rem;
    font-size: 5rem;
    background: red;
    border: 0.2rem solid blue; 
    position: relative;
    top: 0rem;
    left: 0rem;
}

.small_square p {
    position: absolute;
    font-size: 5rem !important;
    top: 15%;
    left: 19%;
}

.big_square {
    height: 40rem;
    width: 50rem;
    position: relative;
    background: grey;
    top: 10rem;
}

.big_square p {
    position: absolute;
    top: 20rem;
    left: 2rem;
    font-size: 2rem;
    text-align: center;
}